<div class="pad-left pad-right pad-bottom pad-none@small bg-white">

    <footer class="bg-black">

        <div class="wrap-mid1 wrap-min@min shim@84x">

            <div class="row row-top pad-horizontal@3x pad-none@small">

                {% spaceless %}

                <div class="col3 col12@medium add-bottom@3x@medium t-center@medium" itemscope itemtype="http://schema.org/Brand">

                    <p class="source-org vcard copyright" itemprop="legalName">©{{ 'now'|date('Y') }} {{site.entity}}</p>

                    <nav>
                        <label for="formHire" class="cursor-pointer" itemprop="email">
                            {{site.contacts.general[0]}}
                        </label><br>
                        <a href="tel:{{site.contacts.phone[0]}}"
                           title="{{site.contacts.phone[1]}}"
                           class="inherit"
                           itemprop="phone">
                            {{site.contacts.phone[0]}}
                        </a><br>
                    </nav>

                    <p>{{site.location}}</p>


                </div>

                <div class="col2 pad-top col6@medium t-center@medium add-bottom@3x@medium">

                    <nav class="nav nav-stack">

                        <a href="/" title="Home" class="inherit">
                            Home
                        </a><br>

                        <a href="/#capabilities" title="Capabilities" class="inherit">
                            Capabilities
                        </a><br>

                        <a href="about" title="About" class="inherit">
                            About
                        </a><br>

                        <a href="/portfolio" title="View Portfolio" class="inherit">
                            Portfolio
                        </a><br>

                        <a href="/resume" title="View Resume" class="inherit">
                            Resume
                        </a><br>

                        <label for="formHire" class="cursor-pointer" title="Contact">
                            Contact
                        </label><br>

                        <a href="/sitemap" class="c-black inherit">Sitemap</a>

                    </nav>

                </div>

                <div class="col2 pad-top col6@medium t-center@medium add-bottom@3x@medium">

                    <nav class="nav nav-stack">
                        {% for s in site.social %}
                        <a href="{{s[2]}}{{s[0]}}" title="{{site.title}} on {{s[1]}}" rel="nofollow" class="inherit">{{s[1]}}</a><br>
                        {% endfor %}
                    </nav>

                </div>

                <div class="col5 col12@medium pad-top">

                    {% include '../components/form.signup.twig' with {'id':'signup-footer'} %}

                </div>

                {% endspaceless %}

            </div>

        </div>

        <div class="shim@84x">&nbsp;</div>

    </footer>

</div>