<head>

    <meta charset="utf-8">

    <title>{{site.title}}</title>

    <meta name="description" content="{{site.description}}"/>
    <meta name="keywords" content="{{site.keywords}}"/>
    <meta name="author" content="{{site.author}}">

    <meta property="og:title" content="{{site.opengraph.title}}"/>
    <meta property="og:type" content="{{site.opengraph.type}}"/>
    <meta property="og:url" content="{{site.opengraph.url}}"/>
    <meta property="og:image" content="{{site.opengraph.image}}"/>
    <meta property="og:image:type" content="{{site.opengraph.imagetype}}" />
    <meta property="og:image:width" content="{{site.opengraph.imageheight}}"/>
    <meta property="og:image:height" content="{{site.opengraph.imagewidth}}"/>
    <meta property="og:description" content="{{site.opengraph.description}}"/>
    <meta property="og:site_name" content="{{site.opengraph.sitename}}"/>

    <meta name="twitter:card" content="{{site.twitter.card}}">
    <meta name="twitter:site" content="{{site.twitter.site}}">
    <meta name="twitter:creator" content="{{site.twitter.creator}}">
    <meta name="twitter:title" content="{{site.twitter.title}}">
    <meta name="twitter:description" content="{{site.twitter.description}}">
    <meta name="twitter:image" content="{{site.twitter.image}}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="apple-touch-icon" sizes="57x57" href="{{site.favicons}}apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.favicons}}apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.favicons}}apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.favicons}}apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.favicons}}apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.favicons}}apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.favicons}}apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.favicons}}apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.favicons}}apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{site.favicons}}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.favicons}}android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{site.favicons}}favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{site.favicons}}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.favicons}}manifest.json">
    <link rel="mask-icon" href="{{site.favicons}}safari-pinned-tab.svg" color="{{site.color}}">
    <link rel="shortcut icon" href="{{site.favicons}}favicon.ico">
    <meta name="apple-mobile-web-app-title" content="{{site.title}}">
    <meta name="application-name" content="{{site.title}}">
    <meta name="msapplication-TileColor" content="{{site.color}}">
    <meta name="msapplication-TileImage" content="{{site.favicons}}mstile-144x144.png">
    <meta name="msapplication-config" content="{{site.favicons}}browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <script>
        var hosts = '{{site.hosts}}';
        hosts = hosts.split(',');
        if (hosts.indexOf(document.domain) > -1) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{site.google.tracking_id}}', 'auto');
            ga('send', 'pageview');
        }
    </script>

    <meta name="google-site-verification" content="WsabU98_LahGz3FOhbGFhyT-S-Z-mAVDluqfZhSJG0g" />

    <!-- build:styles -->
    <!-- endbuild -->

</head>