

{% extends "templates/base/page.index.twig" %}


{% block content %}
<section class="vh-100 d-flex fa-center bg-white c-blue@s1">

    <div class="d-flex jc-center w-100">

        <div class="w-400px pad-horizontal">

            <h1 class="hidden">{{site.title}}</h1>

            <div class="add-right-2x">
                {% include 'icons/svg/expdesign.logo.twig' with {'color':'red'} %}
            </div>

            {% for i in intro %}
            <p>{{ i }}</p>
            {% endfor %}

            <div class="t-center pad-top-2x">

                <p>
                    <a href="about" class="c-red" title="About">Learn more</a>
                </p>

                <p>
                    <a href="#work" class="c-red" title="Main">
                        ↓ See work and capabilities ↓
                    </a>
                </p>

            </div>

        </div>

    </div>

</section>

<main>

    <section id="work" class="bg-white c-blue@s1 t-center pad-vertical-3x">

        <div class="pad-vertical-3x add-bottom-3x">

            <h2 class="t-center pad-bottom-3x">Work</h2>

            {% for index, c in current %}
            <div class="d-inline-block pad-bottom-3x w-400px {% if index != current.length - 1 %}add-right add-none@medium{% endif %}">

                <div class="w-100 h-400px p-relative o-hidden {{c.wrap.class}}" style="background-color:{{c.color}}">

                    <img src="portfolio/{{c.logo.src}}"
                        width="{{c.logo.width}}"
                        height="{{c.logo.height}}"
                        class="{{c.logo.class}}">

                    <img class="{{c.thumb.class}}"
                        src="portfolio/{{c.thumb.src}}"
                        width="{{c.thumb.width}}"
                        height="{{c.thumb.height}}"
                        style="{{c.thumb.style}}">

                </div>

                <div class="t-left pad-horizontal pad-top">
                    <p>{{c.intro}}</p>
                    <p class="t-center pad-top-2x">
                        <a href="{{c.url}}" class="c-red">View Site</a>
                    </p>
                </div>

            </div>
            {% endfor %}

        </div>

    </section>

    <section id="capabilities" class="bg-white c-blue@s1 pad-bottom-3x">

        <div class="wrap-max pad-vertical-3x add-bottom-3x">

            <div class="vh-100 d-flex fa-center">

                <div class="w-100 shim@84x">

                    <h2 class="t-center">Capabilities</h2>

                    <div class="row t-center pad-top@3x pad-bottom d-none d-block@medium">

                        <div class="col12">

                            <div class="pad-horizontal-3x add-right@small add-left@small pad-right@small pad-left@small">

                                {% include 'icons/svg/capabilities.twig' %}

                            </div>

                        </div>

                    </div>

                    <div class="row t-center add-vertical-3x pad-vertical-3x add-top@medium">
                        {% spaceless %}

                        <div class="col3 col6@medium col12@small va-top t-left">

                            {% for i in range(0, 1) %}
                            <div class="card add-bottom-3x pad-bottom-3x">
                                <div class="card_wrap@216x">
                                    <h3 class="height@48x">{{capabilities[i].name}}</h3>
                                    <div class="fs-small pad-right">{{capabilities[i].text}}</div>
                                    <a class="c-red" href="{{capabilities[i].link}}" rel="nofollow" title="{{capabilities[i].name}} Examples">See Examples on Behance</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <div class="col6 d-none@medium">

                            <div class="pad-left-3x pad-right-3x">

                                {% include 'icons/svg/capabilities.twig' %}

                            </div>

                        </div>

                        <div class="col3 col6@medium col12@small t-left">

                            {% for i in range(2, 3) %}
                            <div class="card add-bottom-3x pad-bottom-3x">
                                <div class="card_wrap@216x">
                                    <h3 class="height@48x">{{capabilities[i].name}}</h3>
                                    <div class="fs-small pad-right">{{capabilities[i].text}}</div>
                                    <a class="c-red" href="{{capabilities[i].link}}" rel="nofollow" title="{{capabilities[i].name}} Examples">See Examples on Behance</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        {% endspaceless %}

                    </div>

                </div>

            </div>

        </div>

    </section>

</main>

{% endblock %}