

{% extends "templates/base/page.index.twig" %}


{% block content %}
<section class="vh-100 d-flex fa-center bg-white c-blue@s1">

    <div class="wrap-mid1 wrap-mid0@medium">

        <div class="d-flex fa-center">

            <div class="w-100 animated fadeInUp">

                <div class="row row-top t-center t-left@medium">

                    <div class="col4 col8@medium">

                        <div class="add-top pad-right-3x pad-none@medium">

                            <span class="hidden">{{site.title}}</span>

                            {% include 'icons/svg/expdesign.logo.twig' with {'color':'red'} %}

                            <label class="btn btn-large btn-block c-red b-red d-none@medium" for="formHire">

                                <span>Available for Hire</span>

                            </label>

                        </div>

                    {% spaceless %}</div>

                    <div class="col7 t-left col12@medium">{% endspaceless %}

                        <h1 class="h2@medium">{{text}}</h1>

                        <label class="btn btn-large c-red b-red d-none d-inline-block@medium add-bottom-2x" for="formHire">

                            <span>Available for Hire</span>

                        </label>

                    </div>

                    <div class="col11 col12@medium pad-vertical-3x pad-top@medium pad-bottom-2x@medium b-top b-bottom b-gray@t2">

                        <nav class="nav c-red row">{% spaceless %}

                            <span class="col3 col6@medium">
                                <a href="/#capabilities" title="Capabilities">Capabilities</a>
                            </span>

                            <span class="col3 col6@medium">
                                <a href="/about" title="About">About</a>
                            </span>

                            <span class="col3 col6@medium">
                                <a href="/portfolio" title="View Portfolio">Portfolio</a>
                            </span>

                            <span class="col3 col6@medium">
                                <a href="/resume" title="View Resume">Resume</a>
                            </span>

                        {% endspaceless %}</nav>

                    </div>

                </div>



            </div>


        </div>

    </div>

</section>

<section class="pad-horizontal bg-white">

    <div class="vh-50-pad d-flex fa-center bg-red font-smooth">

        <div class="wrap-mid1">

            <blockquote class="bq-left bq-left-none@medium fs-large@medium add-none@medium">{{quote}}</blockquote>

        </div>

    </div>

</section>

<section id="capabilities" class="bg-white c-blue@s1">

    <div class="wrap-max">

        <div class="vh-100 d-flex fa-center">

            <div class="w-100 shim@84x">

                <h2 class="t-center">Capabilities</h2>

                <div class="row t-center pad-top@3x pad-bottom d-none d-block@medium">

                    <div class="col12">

                        <div class="pad-horizontal-3x add-right@small add-left@small pad-right@small pad-left@small">

                            {% include 'icons/svg/capabilities.twig' %}

                        </div>

                    </div>

                </div>

                <div class="row t-center add-vertical-3x pad-vertical-3x add-top@medium">
                    {% spaceless %}

                    <div class="col3 col6@medium col12@small va-top t-left">

                        {% for i in range(0, 1) %}
                        <div class="card add-bottom-3x pad-bottom-3x">
                            <div class="card_wrap@216x">
                                <h3 class="height@48x">{{capabilities[i].name}}</h3>
                                <div class="fs-small pad-right">{{capabilities[i].text}}</div>
                                <a class="c-red" href="{{capabilities[i].link}}" rel="nofollow" title="{{capabilities[i].name}} Examples">See Examples on Behance</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="col6 d-none@medium">

                        <div class="pad-left-3x pad-right-3x">

                            {% include 'icons/svg/capabilities.twig' %}

                        </div>

                    </div>

                    <div class="col3 col6@medium col12@small t-left">

                        {% for i in range(2, 3) %}
                        <div class="card add-bottom-3x pad-bottom-3x">
                            <div class="card_wrap@216x">
                                <h3 class="height@48x">{{capabilities[i].name}}</h3>
                                <div class="fs-small pad-right">{{capabilities[i].text}}</div>
                                <a class="c-red" href="{{capabilities[i].link}}" rel="nofollow" title="{{capabilities[i].name}} Examples">See Examples on Behance</a>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    {% endspaceless %}

                </div>

            </div>

        </div>

    </div>

</section>

{# <section class="pad-horizontal pad-bottom bg-white">

    <div class="row">

        <div class="col7">

            <div class="pad-right">
                <div class="vh-100-pad w-100 bg-orange" style="background-color: {{current[0].color}}">

                </div>
            </div>

        </div><div class="col5 row">

            <div class="vh-50-pad w-100 bg-blue add-bottom" style="background-color: {{current[1].color}}">

            </div>

            <div class="vh-50-pad w-100 bg-blue" style="background-color: {{current[2].color}}">

            </div>

        </div>

    </div>

</section> #}

{# <section class="vh-100 d-flex fa-center bg-white c-blue@s1">

    <div class="wrap-max row t-center">

        <div class="col3 t-left">

            <div class="pad-bottom pad-right">
                <div class="pad-left-3x height@312x d-flex fa-center">
                    <h2 class="p-left-2 add-none">Currently, I'm working with...</h2>
                </div>
            </div>

            <div class="pad-bottom pad-right">
                <div class="height@312x w-100 bg-blue" style="background-color: {{current[1].color}}">

                </div>
            </div>

        </div><div class="col3 t-left">

            <div class="pad-bottom pad-right">
                <div class="height@312x w-100 bg-orange" style="background-color: {{current[0].color}}">

                </div>
            </div>

            <div class="pad-bottom pad-right">
                <div class="height@312x w-100 bg-blue" style="background-color: {{current[2].color}}">

                </div>
            </div>

        </div>

    </div>

</section> #}

{% endblock %}